@import '../variables';
@import "compass";

$message-padding-x: 2rem;
$message-padding-y: 2rem;

$message-background-info: #e1f2f9;
$message-color-info: #062f3e;

.message {
  padding: $message-padding-y $message-padding-x;
  background: $message-background-info;
  color: $message-color-info;
}
