node_modules
src/main/resources/public
src/main/static/*.css
.DS_Store
bin
build
.classpath
.eclipse
typings
.gradle
.project
.settings
out
*.iml
*.log
.sass-cache
*.index
*.data
classes
exportToHtml
