@import "../../styles/plugins";

$host-gutter: 0.7rem;
$host-progress-height: 8px;

.host-list {
  @include clearfix();
  margin-left: -$host-gutter;
  margin-right: -$host-gutter;
  margin-top: $host-gutter;
  .host {
    width: 50%;
    float: left;
    .host-container {
      display: block;
      border: 5px solid $reactorBorder;
      padding: 1rem;
      margin: $host-gutter;
      .donut-chart {
        position: relative;
        height: 155px;
        .label {
          position: absolute;
          bottom: 0px;
          left: 20px;
          right: 10px;
          text-align: center;
          font-size: 11px;
          color: #888;
        }
        .percent {
          position: absolute;
          top: 42%;
          left: 30%;
          right: 30%;
          padding-left: 10px;
          letter-spacing: -1px;
          font-weight: bold;
          font-size: 20px;
          color: #DDD;
          text-align: center;
        }
      }
      .host-label {
        text-align: center;
      }
      .host-general {
        padding-top: 1.4rem;
        padding-bottom: .4rem;
        .host-infos {
          position: relative;
          ul {
            padding-top: 3rem;
            padding-bottom: 3rem;
            font-size: 12px;
            padding-left: 120px;
            border-left: 2px solid $reactorBorder;
          }
          img {
            position: absolute;
            left: 40px;
            top: 3.8rem;
          }
        }
      }
    }
  }

  .host-small {
    margin: $host-gutter;
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: $host-gutter;
    @include clearfix();
    .left {
      float: left;
      width: 50%;
      ul {
        color: #888;
        li {
          display: inline;
          border-right: 2px solid #F2F2F2;
          font-size: 11px;
          padding: 0 5px;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            border-right: 0 none;
          }
        }
      }
    }
    .right {
      float: left;
      width: 50%;
      padding-top: 5px;
      .progress {
        height: $host-progress-height;
        background: #e8e8e8;
        margin-bottom: 2px;
        margin-left: 10px;
        .value {
          height: $host-progress-height;
          background: #6cb437;
          &.green {
            background: #6cb437;
          }
          &.blue {
            background: #40a7ff;
          }
          &.red {
            background: #ff5240;
          }
        }
      }
    }
  }

}
