@import "../../styles/plugins";

.host-list {
  margin-left: -20px;
  margin-bottom: 20px;
  @include clearfix();
  .column {
    width: 50%;
    float: left;
    .host {
      display: block;
      border: 5px solid $reactorBorder;
      padding: 1rem;
      margin-left: 20px;
      .donut-chart {
        position: relative;
        height: 155px;
        .label {
          position: absolute;
          bottom: 0px;
          left: 20px;
          right: 10px;
          text-align: center;
          font-size: 11px;
          color: #888;
        }
        .percent {
          position: absolute;
          top: 42%;
          left: 30%;
          right: 30%;
          padding-left: 10px;
          letter-spacing: -1px;
          font-weight: bold;
          font-size: 20px;
          color: #DDD;
          text-align: center;
        }
      }
      .host-label {
        text-align: center;
      }
      .host-general {
        padding-top: 1.4rem;
        padding-bottom: .4rem;
        .host-infos {
          position: relative;
          ul {
            padding-top: 3rem;
            padding-bottom: 3rem;
            font-size: 12px;
            padding-left: 120px;
            border-left: 2px solid $reactorBorder;
          }
          img {
            position: absolute;
            left: 40px;
            top: 3.8rem;
          }
        }
      }
    }
  }
}
