@import "compass";
@import "../../../assets/css/variables";

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    a {
      display: block;
      border-bottom: 1px solid #e8e8e8;
      background: #f8f8f8;
      line-height: 40px;
      color: $reactorTextColor;
      border-left: 4px solid transparent;
      padding-left: 15px;
      cursor: pointer;
      @include transition(all .2s ease-in-out);
      &:hover {
        background-color: white;
        text-decoration: none;
      }
    }
    &.active {
      a {
        background-color: white;
        margin-right: -6px;
        border-left: 4px solid $reactorPrimary;
        font-weight: bold;
      }
    }
    &:first-child {
      a {
        border-top: 1px solid #e8e8e8;
      }
    }
  }
}
