<div class="modal-overlay">
  <div class="content form">
    <div class="container">
      <h1>Connect</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br />
        <strong>Connect to the Nexus API to start monitoring a Reactor System.</strong></p>

      <div class="control">
        <input class="input" placeholder="Host path: http://hostname:port" />
      </div>

      <div class="control">
        <div class="row">
          <div class="gr-1">
            &nbsp;
          </div>
          <div class="gr-2">
            <label class="checkbox" onclick="">
              <input type="checkbox" />
              <span class="check"></span>
              Graph Stream
            </label>
          </div>
          <div class="gr-3">
            <label class="checkbox" onclick="">
              <input type="checkbox" />
              <span class="check"></span>
              System Stats Stream
            </label>
          </div>
          <div class="gr-2">
            <label class="checkbox" onclick="">
              <input type="checkbox" />
              <span class="check"></span>
              Log Stream
            </label>
          </div>
          <div class="gr-2">
            <label class="checkbox" onclick="">
              <input type="checkbox" />
              <span class="check"></span>
              Metrics Stream
            </label>
          </div>
          <div class="gr-1">
            &nbsp;
          </div>
        </div>
      </div>

      <div class="control center" style="padding-top:3rem">
        <button type="button" class="btn btn-primary btn-lg">Connect</button>
        <button type="button" class="btn btn-default btn-lg-md">Replay a story</button>
      </div>
    </div>
  </div>
</div>
