@import "compass";
@import "../../../assets/css/variables";
// Disposition application (Flexbox)

#application {
  height: 100%;
  display: flex;
  #application-left {
    width: 200px;
    border-right: 6px solid #e8e8e8;
    background: white;
    background: $reactorBackgroundLight;
  }
  #application-right {
    width: 350px;
    border-left: 6px solid #e8e8e8;
    display: none;
    background: white;
  }
  #application-main {
    flex: 1;
    overflow-y: scroll;
  }
  #application-left, #application-right, #application-main {
    position: relative;
    padding-top: 5px;
    @include transition(margin-bottom .2s ease-in-out);
  }
  &.replay {
    #application-left, #application-right, #application-main {
      margin-bottom: $reactorReplayHeight;
    }
  }
}
