
$color-caret: #222;

.caret {
  position: absolute;
  padding: 5px; /* Arrow size */
  @include box-shadow(2px -2px $color-caret inset);
  border: solid transparent;
  border-width: 0 0 3px 3px;
  transition: 0.2s;
  transform:rotate(-45deg);
}
