.switch[type="checkbox"]:not(:checked),
.switch[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.switch[type="checkbox"]:not(:checked) + label,
.switch[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 75px;
  cursor: pointer;
  line-height: 40px;
}
.switch[type="checkbox"]:not(:checked) + label:before,
.switch[type="checkbox"]:checked + label:before,
.switch[type="checkbox"]:not(:checked) + label:after,
.switch[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
.switch[type="checkbox"]:not(:checked) + label:before,
.switch[type="checkbox"]:checked + label:before {
  left:0;
  top: -8px;
  width: 65px;
  height: 30px;
  background: #DDDDDD;
  border-radius: 15px;
  transition: background-color .2s;
}
.switch[type="checkbox"]:not(:checked) + label:after,
.switch[type="checkbox"]:checked + label:after {
  width: 20px; height: 20px;
  transition: all .2s;
  border-radius: 50%;
  background: #444;
  top: -3px;
  left: 5px;
}

/* on checked */
.switch[type="checkbox"]:checked + label:before {
  background:#DDDDDD;
}
.switch[type="checkbox"]:checked + label:after {
  background: $reactorPrimary;
  top: -3px;
  left: 40px;
}

.switch[type="checkbox"]:checked + label .ui,
.switch[type="checkbox"]:not(:checked) + label .ui:before,
.switch[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  transition: all .2s;
}
.switch[type="checkbox"]:not(:checked) + label .ui:before {
  content: "No";
  left: 32px;
}
.switch[type="checkbox"]:checked + label .ui:after {
  content: "Yes";
  color: #222;
}
.switch[type="checkbox"]:focus + label:before {
  //border: 1px dashed #777;
  //box-sizing: border-box;
  //margin-top: -1px;
}

// Checkbox Style simple

.checkbox {
  line-height: 1.875rem;
  min-width: 1rem;
  cursor: pointer;
  //.no-user-select;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0.0125rem;
    height: 0.0125rem;
  }

  .check {
    //.square(1.625rem);
    width: 1.525rem;
    height: 1.525rem;
    background-color: white;
    border: 2px #e5e5e5 solid;
    border-bottom: 2px #d2d2d2 solid;

    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
  }

  &.text-left {
    .check {
      margin: 0 0 0 .3125rem;
    }
  }

  &:hover {
    .check {
    }
  }

  .check:focus {
    border-color: #888;
  }

  .check:before {
    position: absolute;
    vertical-align: middle;
    color: transparent;
    font-size: 0;
    content: "";
    height: .3125rem;
    width: .565rem;
    background-color: transparent;
    border-left: .1875rem solid;
    border-bottom: .1875rem solid;
    border-color: transparent;
    left: 50%;
    top: 50%;
    margin-left: -.325rem;
    margin-top: -.365rem;
    display: block;

    @include transform(rotate(-45deg));
    @include transition(.2s linear);
  }

  input[type=radio] ~ .check:before {
    border-color: transparent;
  }

  input[type="checkbox"]:checked ~ .check {

    border: 2px #9ecf79 solid;
    border-bottom: 2px #56ab1f solid;

    &:before {
      border-color: $reactorPrimary;
      //.transition(.2s, linear);
      @include transition(.2s linear);
    }
  }

  input[type="checkbox"]:disabled ~ .check {
    border-color: #AAA;
    //border-color: @disabledColor;
    cursor: default;
  }

  input[type="checkbox"]:disabled:checked ~ .check  {
    &:before {border-color: #AAA;}
    //&:before {border-color: @disabledColor;}
  }

  input[type="radio"]:disabled:checked ~ .check  {
    &:before {background-color: #AAA;}
    //&:before {background-color: @disabledColor;}
  }


  input[data-show="indeterminate"] ~ .check,
  input[data-show="indeterminate"]:checked ~ .check,
  input.indeterminate:checked ~ .check,
  input[type="checkbox"]:indeterminate ~ .check  {
    &:before {
      display: none;
    }
    &:after {
      position: absolute;
      display: block;
      content: "";
      background-color: #444;
      //background-color: @dark;
      height: .875rem;
      width: .875rem;
      left: 50%;
      top: 50%;
      margin-left: -.4375rem;
      margin-top: -.4375rem;
    }
  }

  input[data-show="indeterminate"]:not(:checked) ~ .check {
    &:after {
      background-color: transparent;
    }
  }

  input[data-show="indeterminate"]:disabled ~ .check {
    &:after {
      background-color: #AAA;
      //background-color: @disabledColor;
    }
  }
}