@import 'variables';
@import "compass";

a {
  color: $reactorPrimary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: white;
}

body {
  font-family: Helvetica, Arial;
  line-height: 1.5em;
  font-size: 13px;
  color: $reactorTextColor;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: bold;
}

// Status bar
#status {
  height: 4px;
  background: $reactorPrimary;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

// Logo Spring Console
#logo {
  padding: 20px 0;
  background: white;
  a, a span {
    display: block;
    width: 56px;
    height: 34px;
    background: url('../img/logo.png') 0 0 no-repeat;
    background-size: 56px 68px;
    text-indent: -6000em;
    margin: 0 auto;
  }
  a {
    span {
      @include transition-property(opacity);
      @include transition-duration(0.3s);
      @include opacity(0);
      background-position: 0 -34px;
    }
    &:hover {
      span {
        @include opacity(1);
      }
    }
  }
}

// Main Content
.main-content {
  padding: 1.8rem 2.2rem;
}

// Content box
.content-box {
  padding-bottom: 3rem;
}

// Heading
.heading {
  font-size: 1.8em;
  line-height: 1.3em;
  padding-bottom: 1rem;
  font-weight: lighter;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 0.8rem;
  strong {
    font-weight: normal;
  }
}

#app-loader {
  position:absolute;
  margin-left: -30px;
  margin-top:-30px;
  left:50%;
  top:50%;
}
