@import 'variables';
@import "compass";

::-moz-selection {
  background: $reactorPrimary;
  color: white;
  text-shadow: 0 0 0 white;
}
::selection {
  background: $reactorPrimary;
  color: white;
  text-shadow: 0 0 0 white;
}
